[[source]]
name = "pypi"
url = "https://pypi.doubanio.com/simple"
verify_ssl = true

[dev-packages]

[packages]
tornado = "*"
requests = "*"
aiomysql = "*"
peewee = "*"
peewee-async = "*"
wtforms = "*"
wtforms-tornado = "*"

[requires]
python_version = "3.7"
